section {
  background-color: gray;
  border-radius: 25px;
  position: absolute;
  display: grid;
  width: 70%;
  margin-left: 30%;
  padding: 2rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem; 
  justify-content: center; 
}